{% extends 'tweets/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-lg-3 col-sm-12"></div>
        <div class="col-lg-6 col-sm-12 mt-4" style="padding:5px;">
                <div class="form-group">
                        <input type="text" class="form-control" id="search" placeholder="Search">
                </div>
                <div id="tweet-container">
                    <p id="no-tweets">No tweets Found</p>
                </div>
        </div>
        <div class="col-lg-3 col-sm-12"></div>
    </div>
{% endblock content %}
{% block endscript %}
<script>
    $(document).ready(function(){
        function updateHashLinks(){
            $(".media-content").each(function(data){
                var hashtagRegex = /(^|\s)#([\w\d-]+)/g
                var newText = $(this).html().replace(hashtagRegex,"$1<a href='/tags/$2/'>#$2</a>");
                $(this).html(newText);
            })
        }

        $(document.body).on("click",".tweet-like",function(e){
            e.preventDefault();
            var this_ = $(this);
            var tweetId = this_.attr('data-id');
            var likeUrl = '/api/' + tweetId + "/like/";
            $.ajax({
                method:"GET",
                url:likeUrl,
                success:function(data){
                    if(data.liked){
                        this_.text("Unlike")
                    } else {
                        this_.text("Like")
                    }
                },
                error:function(data){
                    console.log("error");
                    console.log(data);
                }
            })
        })

        $(document.body).on("click",".retweetBtn",function(e){
            e.preventDefault();
            console.log("Retweeting....");
            var url = "/api/" + $(this).attr("href");
            console.log(url);
            $.ajax({
                method:"GET",
                url:url,
                success:function(data){
                    console.log(data);
                    oldTweets.push(data);
                    createTweets(data,true,true);
                    updateHashLinks()
                },
                error:function(data){
                    console.log("error");
                    alert(data.responseJSON.message);
                    console.log(data);
                }
            })
        })

        function createTweets(tweet,prepend,retweet){
            var username = tweet.user.username;
            var tweetContent = tweet.content;
            var datePosted = tweet.date_posted;
            var profileImage = tweet.user.profile_image_url;
            var profileUrl = tweet.user.url;
            var parent = tweet.parent;
            var verb = "Like";
            var tweetFormattedHtml;
             if(tweet.is_liked){
                 verb = "Unlike"
             }
            if(retweet && parent){
                tweetFormattedHtml = "<div class='media border p-3 " + parent.id + "'><img src='"+ parent.user.profile_image_url +"'" + 
             "alt='' class=\"mr-3 mt-3 rounded-circle\" style=\"width:60px;\"><div class=\"media-body\">" +
            "<span class='text-muted'>Retweet via <a href='"+ username+"'>" + username + "</a> at " + datePosted +"</span><h5><a href='"+ parent.user.url +"'>"+ parent.user.username + "</a><small> Posted on "+ parent.date_posted 
            + "</small></h5><p class='media-content'>" + parent.content 
            + "</p><a href='/"+ tweet.id + "/tweet/'>View</a> | <a class='retweetBtn' href='"+ tweet.id 
            + "/retweet/'>Retweet</a> | <a class='tweet-like' href='' data-id='" 
            + tweet.id +"'>"+""+verb+"("+ tweet.likes +")</a></div></div>"

            }  else {
                tweetFormattedHtml = "<div class='media border p-3'><img src='"+ profileImage +"'" + 
             "alt='' class=\"mr-3 mt-3 rounded-circle\" style=\"width:60px;\"><div class=\"media-body\">" +
                "<h5><a href='"+ profileUrl +"'>"+ username + "</a><small> Posted on "
                + datePosted + "</small></h5><p class='media-content'>"
                + tweetContent+"</p><a href='/" + tweet.id +"/tweet/'>View</a> | <a class='retweetBtn' href='"
                + tweet.id + "/retweet/'>Retweet</a> | <a class='tweet-like' href='' data-id='" + tweet.id 
                +"'>"+verb+"(" + tweet.likes + ")</a> </div></div>"
            }
             
            if(prepend){
                $("#tweet-container").prepend(tweetFormattedHtml);
            } else {
                $("#tweet-container").append(tweetFormattedHtml);
            }
           
        }

        var typingTimer;
        var doneInterval = 500;
        var searchQuery;
        var searchInput = $("#search");
        searchInput.keyup(function(e){
            
            searchQuery = $(this).val();
            clearTimeout(typingTimer);
            typingTimer = setTimeout(doneSearchTying,doneInterval);
            if(searchQuery.length > 0){
                $.ajax({
                    method:"GET",
                    url:'/api/tweet/search/',
                    data:{
                        "q":searchQuery,
                    },
                    success:function(data){
                        console.log(data);
                            $("#tweet-container").html("");
                        if(data.length > 0){
                            
                            $.each(data,function(key,value){
                                if(value.parent){
                                    createTweets(value,false,true);
                                    updateHashLinks();
                                } else {
                                    createTweets(value,false,false);
                                    updateHashLinks();
                                }
                            
                            })
                        } else {
                            $("#tweet-container").append("No Tweet Found");
                            $("#no-tweets").css("display","block");
                        }
                    },
                    error:function(error){
                        console.log("error");
                        console.log(error);
                    }
                })
            } else {
                $("#tweet-container").html("");
                $("#tweet-container").append("No Tweet Found");
                $("#no-tweets").css("display","block");
            }
            
        })
        searchInput.keydown(function(e){
            clearTimeout(typingTimer);
        })
        function doneSearchTying(){
            if (searchQuery){
                var url = ''
            }
        }
    })

</script>
{% endblock endscript %}



<!-- python -m smtpd -n -c DebuggingServer localhost:1025 -->