{% extends 'tweets/base.html' %}
{% block content %}
<style>
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
  .cover-image {
      width: 100%;
      height: 32vh;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .cover-image img {
      width: 100%;
      height: 32vh;
  }
  .user-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #e4e4e4;
  }
  .user-info-actual {
      width: 300px;
      margin-left: 50px;
      margin-right: 50px;
  }
  .user-info .user-info-actual ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      width: 100%;
      margin-bottom: 0px;
      padding-left: 0px;
  }
  .edit-profile-button-container {
      margin-right: 50px;
  }
  .edit-profile-button {
      justify-items: center;
      background: none;
      border-radius: 1px 5px 1px 5px;
      border: none;
      background-color: #dffafa;
      padding: 3px;
      text-decoration: none;
  }
</style>
<div class="row">
    <div class="col-lg-12 cover-image">
        <img src="{{ object.profile.cover.url }}" alt="">
    </div>
</div>
<div class="row">
    <div class="col-lg-12 user-info">
        <div class="user-info-actual">
                <ul>
                        <li><a href="{% url 'user-following' object.username %}">Following({{ object.user_profile.following.all.count }})</a></li>
                        <li><a href="{% url 'user-follower' object.username %}">Follower({{ object.followed_by.all.count }})</a></li>
                </ul>
        </div>
        <div class="edit-profile-button-container">
            <a class="btn btn-primary" href="{% url 'profile' %}">Edit Your Profile</a>
        </div>
    </div>
</div>
<div class="row">
        <div class="col-lg-3 col-sm-5">
                <div class="card mt-2" style="margin-left: 10px;">
                        <img class="card-img-top" src="{{ object.profile.image.url }}" alt="Card image cap">
                        <div class="card-body">
                          <a href="/{{ object.username}}"><h5 class="card-title">{{ object.username }}</h5></a>
                          <p class="card-text">Joined {{ object.date_joined }}</p>
                          <p class="card-text">{{ object.profile.description }}</p>
                        </div>
                </div>
        </div>
        <div class="col-lg-6 col-sm-5 mt-2">
                {% for tweet in object.tweet_set.all %}
                <div class='media border p-3'>
                    <img src="{{ tweet.user.profile.image.url }}"  class="mr-3 mt-3 rounded-circle" style="width:60px;">
                    <div class="media-body">
                        {% if tweet.parent %}
                            <p><span class="text-muted">Retweeted via <a href="/{{ tweet.user.username }}">{{ tweet.user.username }}</a>
                            at <small> {{ tweet.date_posted }} </small></span></p>
                            <h5><a href="{{ tweet.parent.user.username }}">{{ tweet.parent.user.username }}</a><small> Posted {{ tweet.parent.date_posted|timesince }} ago </small></h5>
                        {% else %}
                            <h5><a href="/{{ tweet.user.username }}">{{ tweet.user.username }}</a><small> Posted {{ tweet.date_posted|timesince }} ago </small></h5>
                        {% endif %}
                        <p class="media-content">{{ tweet.content }}</p>
                        <a href="{% url 'tweet-detail' tweet.id %}">View</a> |
                        {% if tweet.parent %}
                            <a> Retweeted </a> |
                        {% else %}
                            <a class="retweetBtn" href="" data-id="{{ tweet.id }}">Retweet</a> | 
                        {% endif %}
                        {% if request.user in tweet.likes.all %}
                            <a class="tweet-like" href="" data-id="{{ tweet.id }}">Unlike</a> |
                        {% else %}
                            <a class='tweet-like' href="" data-id="{{ tweet.id }}">Like</a> | 
                        {% endif %}
                    </div>
                </div>
                {% empty %}
                <p class="mt-2">Cannot find any tweets right now</p>
                {% endfor %}
        </div>
        <div class="col-lg-3"></div>
</div>


{% endblock content %}

{% block endscript %}
<script>
    $(document).ready(function(){
        function updateHashLinks(){
            $(".media-content").each(function(data){
                var hashtagRegex = /(^|\s)#([\w\d-]+)/g
                var newText = $(this).html().replace(hashtagRegex,"$1<a href='/tags/$2/'>#$2</a>");
                $(this).html(newText);
            })
        }
        updateHashLinks();
    })
    $(document.body).on("click",".tweet-like",function(e){
    e.preventDefault();
    console.log(e);
    var this_ = $(this);
    var tweetId = this_.attr('data-id');
    var likeUrl = '/api/' + tweetId + "/like/";
    $.ajax({
        method:"GET",
        url:likeUrl,
        success:function(data){
            if(data.liked){
                this_.text("Unlike")
            } else {
                this_.text("Like")
            }
        },
        error:function(data){
            console.log("error");
            console.log(data);
        }
    })
    })
    $(document.body).on("click",".retweetBtn",function(e){
            e.preventDefault();
            console.log("Retweeting....");
            var url = "/api/" + $(this).attr("data-id") + "/retweet/";
            console.log(url);
            $.ajax({
                method:"GET",
                url:url,
                success:function(data){
                    console.log(data);
                    $(this).text("Retweeted")
                    //createTweets(data,true,true);
                    // updateHashLinks()
                },
                error:function(data){
                    console.log("error");
                    alert(data.responseJSON.message);
                    console.log(data);
                }
            })
        })
</script>
{% endblock endscript %}